<div class="note">
  <div class="note_content">

    <!-- bagian kiri note untuk menampilkan isi dari note dan tombol action -->
    <div class="left_side">

      <!-- wrapper isi note -->
      <div class="isi_note_wrapper" [style.display]="setShowHideStyle()">

        <!-- isi note -->
        <div class="isi_note">
          <p>
            {{isiNote.isi_note}}
          </p>
          <p>
            {{isiNote.tanggal_note | date:'medium'}}
          </p>
        </div>

        <!-- tombol action dari note -->
        <div class="note_action">
          <span class="btn" (click)="modifyNote()">Edit</span> 
          <span class="btn" (click)="deleteNote()">Delete</span>
        </div>

      </div>

    </div>

    <!-- bagian kanan note untuk menampilkan opsi hide -->
    <div class="right_side">
      <!-- opsi hide -->
      <span (click)="onShowHide()">

        <span *ngIf="isVisible">
          hide
        </span>

        <span *ngIf="!isVisible">
          show
        </span>

      </span>
    </div>

    <div style="clear: both;"></div><!-- clear float -->

  </div>
</div>
