<md-toolbar color="primary">Angular Note</md-toolbar>

<div class="edit_note_form">
  <div>
    <button md-raised-button routerLink="/" color="accent">Back</button>
  </div>
  <form [formGroup]="noteForm" (ngSubmit)="onSubmit(noteForm.value)">
    <p>
      <md-input-container style="width: 100%;">
        <textarea mdInput placeholder="Isi Catatan" formControlName="isi_note" placehoder="Masukan note" cols="5"></textarea>
      </md-input-container>
    </p>
    <p>
      <button md-raised-button color="primary" type="submit" [disabled]="!noteForm.valid">Ubah</button>
    </p>
  </form>
</div>