<md-toolbar color="primary">Angular Note &mdash; Chapter 9.0</md-toolbar>
<!-- search form -->
<app-com-search (searchQueryElement)="doSearch($event)" (onSearchLoading)="onLoadingChange($event)"></app-com-search>
<!-- end of search form -->

<!-- add note form -->
<app-com-addnote></app-com-addnote>
<!-- end of add note form -->



<md-list style="width: 100%;">  

    <!-- loading component -->
    <app-com-loading *ngIf="onSearchLoading"></app-com-loading>
    <!-- end of loading component -->

    <div *ngIf="!onSearchLoading">
        <div style="margin-left: 50px; margin-right: 50px;">
            <!-- sort option -->
            <div style="float: right;">
                <md-select placeholder="pilih tipe sort" [(ngModel)]="searchTypeValue">
                    <md-option *ngFor="let sortoption of sortOption" [value]="sortoption.value">
                    {{sortoption.viewValue}}
                    </md-option>
                </md-select>
            </div>
            <div style="clear:both;"></div>

            <p> Tipe sort : {{searchTypeValue}} </p>
            <p> Search on  : isi_note </p>

            <div *ngFor="let note of (serviceNoteService.listNote | pipeSort:searchTypeValue | pipeSearch:searchQuery)">  
                    <app-com-note [isiNote]="note" (onDelete)="onDeleteNote($event)"></app-com-note>
            </div>
        </div>
    </div>

    <div *ngIf="serviceNoteService.listNote.length <= 0 && !onSearchLoading">
        <div style="margin-left: 50px; margin-right: 50px; color: #3d3d3d;">
            <div style="width: 100%; background: #fafafa; padding: 50px 0px 50px 0px; text-align: center;">      <md-icon style="font-size: 70px; color: #3F51B5; display: inline;">description</md-icon><br />
                <b>Belum ada data</b> pada sistem angular-note<br /> silahkan masukan note melalui form diatas.
            </div>
        </div>
    </div>

</md-list>